.pokemon-form{
	margin: .5em 0 0em .2em;
}

.pokemon-input{
	width: 80%;
	height: 3em;
	padding: 0 1em;
	background: #DFDFDF;
	border: 0;
}

.pokemon-input:focus{
	outline: none;
	background: #FFF;
}

.pokemon-input:hover{
	background: #FFF;
	transition: 350ms;
}

.pokemon-btn{
	padding: .79em .7em;
	border: 0;
	cursor: pointer;
	background: #DFDFDF;
}

.pokemon-btn:hover{
	background: #fff;
	transition: 350ms;
}

.pokemon-options{
	background: #DFDFDF;
	width: 97.5%;
	margin: 0 0 0 .17em;

}

.option{
	display: flex;
	align-items: center;
	justify-content: space-between;
	transition: 350ms;
}

.option:hover{
	background: #fff;
}

.span{
	margin: 0 .5em;
	padding: 0;
}

.option>img{
	width: 4em;
}